target
.vscode
_data
guest_local_storage
local_storage
config.json
config.jsonc
config.toml
.env
.ipynb_checkpoints
.idea
@space-operator/contracts/node_modules
@space-operator/client-next/node_modules
node_modules