[workspace]
members = ["lib/*", "crates/*"]
exclude = ["crates/space-wasm/tests"]
resolver = "2"

[patch.crates-io]
rhai = { git = "https://github.com/space-operator/rhai", rev = "1fce1c538a6a7c0bf1cffd1a1809aec906b43c21" }
# fix zeroize and subtle dep conflict
aes-gcm-siv = { git = "https://github.com/RustCrypto/AEADs", rev = "555ae1d82d000f01899498f969e6dc1d0a4fe467" }
curve25519-dalek = { git = "https://github.com/dalek-cryptography/curve25519-dalek", rev = "8274d5cbb6fc3f38cdc742b4798173895cd2a290" }

[profile.dev]
debug = 0
opt-level = 1

[profile.release]
debug = 0
lto = "thin"

[workspace.dependencies]
# crates/
flow = { path = "crates/flow", version = "0.0.0" }
utils = { path = "crates/utils", version = "0.0.0" }
space-wasm = { path = "crates/space-wasm", version = "0.0.0" }
db = { path = "crates/db", version = "0.0.0" }
pdg-common = { path = "crates/pdg-common", version = "0.0.0" }
cmds-std = { path = "crates/cmds-std", version = "0.0.0" }
cmds-pdg = { path = "crates/cmds-pdg", version = "0.0.0" }
cmds-solana = { path = "crates/cmds-solana", version = "0.0.0" }
rhai-script = { path = "crates/rhai-script", version = "0.0.0" }

# lib/
value = { path = "lib/flow-value", version = "0.1.0", package = "flow-value" }
flow-lib = { path = "lib/flow-lib", version = "0.1.0" }
space-lib = { path = "lib/space-lib", version = "0.5.0" }
space-macro = { path = "lib/space-macro", version = "0.2.1" }
spo-helius = { path = "./lib/spo-helius", version = "0.1.0" }

# Non-local crates
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["preserve_order"] }
anyhow = "1"
bs58 = "0.4"
