[package]
name = "flow-server"
version = "0.0.0"
edition = "2021"

[dependencies]
db = { workspace = true }
flow = { workspace = true }
flow-lib = { workspace = true }
value = { workspace = true }
space-wasm = { workspace = true }
utils = { workspace = true }
cmds-pdg = { workspace = true }
cmds-std = { workspace = true }
cmds-solana = { workspace = true }

actix = "0.13"
actix-web = { version = "4", default-features = false }
actix-web-actors = "4"
actix-cors = "0.6"
reqwest = { version = "0.11", features = ["rustls"] }
tokio = "1"
tower = "0.4"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
toml = "0.5"
chrono = "0.4"
thiserror = "1"
uuid = { version = "1", features = ["v4", "serde"] }
futures-util = "0.3"
futures-channel = "0.3"
bytes = "1"
hmac = "0.12"
sha2 = "0.10"
base64 = "0.13"
rand = "0.8"
bincode = "=2.0.0-rc.2"
blake3 = "1.3"
ed25519-dalek = "1"
bs58 = "0.4"
hex = "0.4"
hashbrown = "0.13"
anyhow = "1"
tokio-util = "0.7"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
solana-sdk = { version = "1.14", default-features = false }
either = { version = "1.9", features = ["serde"] }
regex = "1.8.3"
once_cell = "1.17.2"

[dev-dependencies]
criterion = "0.4"

[[bench]]
name = "crypto"
harness = false
