name: Rust deps

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  rust-deps:
    if: ${{ ! contains(github.event.pull_request.labels.*.name, 'no-test') }}
    name: Rust deps
    runs-on: self-hosted
    steps:
      - name: Configure SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.STAKING_SSH_KEY }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: default
          override: true
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - uses: Swatinem/rust-cache@v2
      - run: rm Cargo.lock
      - name: Build
        run: cargo check --tests
